.project-one {
  position: relative;
}

.swiper {
  width: 1512px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 974px;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
