.title {
  display: flex;
}

.hat {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.me {
  display: flex;
  padding: 0px 86px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.text {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}
