.transition-1 {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100vh;
  margin-bottom: 100vh;
  padding: 0px 20px;
  align-items: flex-end;
  gap: 10px;
  flex-shrink: 0;
  background: url(/src/img/background.png) lightgray 50% / cover no-repeat;
}

.transition-2 {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: trans-2;
  opacity: 0%;
  animation-iteration-count: 1;
  animation-duration: 2s;
}

@keyframes trans-2 {
  0% {
    opacity: 100%;
  }

  100% {
    display: none;
  }
}
