.text {
  color: #000;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.hat {
  color: #000;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  color: #000;
  font-family: Roboto;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.head {
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: 0.5s;
}

.head:hover {
  color: #000;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.darkhead {
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.darkhead:hover {
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.5s;
}

.chapters {
  color: #fff;
  font-family: Helvetica;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  mix-blend-mode: exclusion;
}
