.l-intro {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding-left: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.l-projects {
  margin-top: 61px;
  display: flex;
  padding-top: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
